// Mixins Here

.buttons(@bcolor,@width,@tcolor,@rad){
// @color, @width, @padding
 //   width: @width;
 //   padding: @padding;

    box-sizing: border-box;
    background-color:@bcolor;
    width: @width;
    border-radius: @rad;

    a{
       p{
        font-size: 2rem;
        color: @tcolor;
        margin: 0 auto;
        text-align: center;
        padding: .5rem;
       }
       
  
   }

    
    

    

}