// Mixins Here

.buttons(@bcolor,@width,@pcolor,@rad){
// @color, @width, @padding
 //   width: @width;
 //   padding: @padding;


 display: flex;
 align-items: center;

    box-sizing: border-box;
    background-color:@bcolor;
    width: @width;
    border-radius: @rad;

    p{   
        font-size: 2rem;
        color: @pcolor;
        text-align: center;
        padding: 1rem;
        margin: 0 auto;
        align-self: center;
      }
       
  
   }

    
    

    

